article{
    display: block;
 
}

main{
    font-family: Arial, Helvetica, sans-serif;
}
.bloco{
    width: 250px;
    text-align: center;
    margin-bottom: 10px;
}

#bloco-1{
    background-color: rgb(227, 180, 94);
    border: rgb(244, 162, 10) 4px solid;
 }
#bloco-2{
    background-color: rgb(0, 174, 255);
    border: rgb(166, 241, 253) 4px solid;
}
#bloco-3{
    background-color: rgb(255, 0, 230);

    border: dashed rgb(175, 8, 125) 4px;
}
#bloco-4{
    background-color: rgb(0, 255, 38);
    border: dashed rgb(16, 108, 37) 4px;

}